@font-face {
  font-family: bt_curve_regular;
  src: url('https://www.bt.com/assets/fonts/bt-curve-regular.woff')
      format('woff'),
    url('https://www.bt.com/assets/fonts/bt-curve-regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: bt_curve_bold;
  src: url('https://www.bt.com/assets/fonts/bt-curve-bold.woff') format('woff'),
    url('https://www.bt.com/assets/fonts/bt-curve-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: bt_curve_headline;
  src: url('https://www.bt.com/assets/fonts/bt-curve-headline.woff')
      format('woff'),
    url('https://www.bt.com/assets/fonts/bt-curve-headline.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: bt_curve_condensed;
  src: url('https://www.bt.com/assets/fonts/bt-curve-condensed-regular.woff')
      format('woff'),
    url('https://www.bt.com/assets/fonts/bt-curve-condensed-regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: bt_curve_condensed;
  src: url('https://www.bt.com/assets/fonts/bt-curve-condensed-bold.woff')
      format('woff'),
    url('https://www.bt.com/assets/fonts/bt-curve-condensed-bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: bt_icons;
  src: url('https://www.bt.com/assets/fonts/bt-icons.woff') format('woff'),
    url('https://www.bt.com/assets/fonts/bt-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: bt_font;
  src: url('https://img01.bt.co.uk/s/assets/040221/fonts/bt/BTTV-Regular.woff')
      format('woff'),
    url('https://img01.bt.co.uk/s/assets/040221/fonts/bt/BTTV-Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: bt_font_light;
  src: url('https://img01.bt.co.uk/s/assets/040221/fonts/bt/BTTV-Light.woff')
      format('woff'),
    url('https://img01.bt.co.uk/s/assets/040221/fonts/bt/BTTV-Light.woff2')
      format('woff2');
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
