@import '@styles/mixins/_mixins';

// Colors

.color-bt-indigo {
  color: $color-bt-indigo;
}

.color-bt-pink {
  color: $color-bt-pink;
}

.color-bt-curve-pink {
  color: $color-bt-curve-pink;
}

.color-white {
  color: $color-white;
}

// Utility Classes

.font-regular {
  font-family: $font-regular;

  &--imp {
    font-family: $font-regular !important;
  }
}

.font-bold {
  font-family: $font-bold;

  &--imp {
    font-family: $font-bold !important;
  }
}

.font-condensed {
  font-family: $font-condensed;

  &--imp {
    font-family: $font-condensed !important;
  }
}

.font-headline {
  font-family: $font-headline;

  &--imp {
    font-family: $font-headline !important;
  }
}

.font-icon {
  font-family: $font-bt-icon;

  &--imp {
    font-family: $font-bt-icon !important;
  }
}

.font-bt {
  font-family: $font-bt;

  &--imp {
    font-family: $font-bt !important;
  }
}

// margin

.margin-top10 {
  @include px-to-rem(margin-top, 10);
}

.margin-top15 {
  @include px-to-rem(margin-top, 15);
}

.margin-top20 {
  @include px-to-rem(margin-top, 20);
}

//padding

.padding-bottom25 {
  @include px-to-rem(padding-bottom, 25);
}

@media (min-width: $bp-smallest) {
  .d-block-smallest-up {
    display: block;
  }
}

@media (min-width: $bp-smaller) {
  .d-block-smaller-up {
    display: block;
  }
}

@media (min-width: $bp-small) {
  .d-block-small-up {
    display: block;
  }
}

@media (min-width: $bp-medium) {
  .d-block-medium-up {
    display: block;
  }
}

@media (min-width: $bp-large) {
  .d-block-large-up {
    display: block;
  }
}

@media (min-width: $bp-largest) {
  .d-block-largest-up {
    display: block;
  }
}
